html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Red Hat Display", sans-serif;
}

.card {
    background-color: white;
    width: 90vw;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

}

.hero {
    border-radius: 20px 20px 0 0;
}

h1,
h2 {
    color: hsl(223, 47%, 23%);
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin: 30px 0 10px 0;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    font-weight: 500;
    align-self: center;

}

.description {
    margin: 0 10px 0 10px;
    width: 80%;
}


.plan {
    background-color: hsl(230, 75%, 98%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 20%;
    border-radius: 10px;
    align-self: center;
    margin: 10px;
}

.chosen-plan {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.price {
    margin: 5px;
}

a {
    padding-left: 20px;
}

a:hover {
    color: hsl(245, 52%, 64%);
}

button {
    width: 85%;
    height: 14%;
    align-self: center;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s;
}

button:hover {
    background-color: hsl(245, 75%, 52%);
    color: white;
}

footer {
    display: none;
}

@media (min-width: 481px) {
    .card {
        width: 70vw;
    }
}

@media (min-width: 769px) {

    .card {
        width: 50vw;
        height: 80vh;
    }
}

@media (min-width: 1201px) {

    .card {
        width: 40vw;
    }
}

@media (min-width: 1440px) {

    .card {
        width: 30vw;
    }

}